#root { display:block;  }
.cc { clear:both; }
.ptr { cursor:pointer; }
#pictureScaler { float: left; border:1px solid red; }
#picture { float:left; position:relative; }
#image { }
#boundingbox { z-index:101; position:absolute; left:-4px; top:-4px; }
#canvas { z-index:100; position:absolute; display:block; width:100%; height:100%; left:0px; top:0px; }
.point { width:5px; height:5px; background:#ffffff; border:1px solid #000000; position:absolute; left:0px; top:0px; }
#actions { float:left; margin:10px 20px 0 20px; width:400px; }
#areaForms { padding:20px 5px; width:430px; float:left; }
.areaForm { position:relative; width: 400px; float:left; margin:3px; padding:10px; border:1px solid black; }
.areaForm .formCoord { width: 50px; }
.arrow { position:absolute; right:10px; top:15px; }
.moreOptions .line { padding:5px 10px; }

.colors { }
.colorPreview { border:1px solid #000; float:left; margin-right:5px; }
.colorPreview div { width:10px; height:10px;  border:2px solid #fff; }
.colorBox { border:1px solid #000; float:left; }
.colorBox div { width:20px; height:20px;  border:2px solid #fff; }
.colorPicker { width:152px; border:1px solid #000; float:left; margin-left:5px; }
.colorPickerCell { float:left; width:6px; height:6px; margin:0; border:1px solid white; cursor:pointer; font-size:1px; line-height:1px; }